.publication-entry {
    display: flex;
    align-items: center; /* Align items vertically at center */
    margin-bottom: 20px;
}

.publication-text {
    flex: 1;
    text-align: left; /* Align the text to the left */
    margin-left: 60px;
    margin-right: 40px; /* Adjust margin as needed */
    font-size: 0.9em; /* Adjust font size as needed */
}

.publication-figure img {
    /* Adjust width as needed */
    width: 50px; /* Fig size */
    height: 50px;
}

.publication-figure-vertical img {
    /* Adjust width as needed */
    width: auto; /* Fig size */
    height: auto;
}

.publication-figure-horizontal img {
    /* Adjust width as needed */
    width: auto; /* Fig size */
    height: auto;
}

@media (max-width: 300px) { /* Adjust breakpoint as needed */
    .publication-entry {
        flex-direction: column;
        align-items: center; /* Center items horizontally */
    }

    .publication-figure,
    .publication-text {
        margin-right: 0;
        margin-left: 0;
        text-align: center; /* Center the text for smaller screens */
    }

    .publication-figure img {
        width: 200px; /* Adjust size for smaller screens if needed */
        margin-bottom: 15px; /* Space between image and text */
    }
    .publication-figure-vertical img {
        width: 30px; /* Adjust size for smaller screens if needed */
        margin-bottom: 15px; /* Space between image and text */
    }
    .publication-figure-horizontal img {
        width: 200px; /* Adjust size for smaller screens if needed */
        margin-bottom: 15px; /* Space between image and text */
    }
}
